.foo {
  flex: 1 0 calc(1vw - 1px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.bigTitleStyle {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #00008f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  span {
    display: grid;
    grid-template-rows: 27px 0;
    grid-template-columns: 1fr max-content 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #444;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;

    &::before {
      display: block;
      height: 5px;
      content: "";
      background-color: #f8f8f8;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    &::after {
      display: block;
      height: 5px;
      content: " ";
      background-color: #f8f8f8;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
  }
}

.imagePlace {
  width: 30%;

  @media screen and (width <= 900px) {
    width: 50%;
  }
}

.paragraphContainer {
  width: 100%;
  padding-bottom: 32px;
}

.titleStyle {
  position: relative;
  padding-bottom: 10px;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55px;
    height: 5px;
    content: "";
    background-color: #111;
  }

  &::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 95%;
    max-width: 255px;
    height: 1px;
    content: "";
    background-color: #333;
  }
}

.boldText {
  font-weight: bold;
}

.centredText {
  text-align: center;
}

.paragraphStyle {
  padding: 12px;
  font-family: sans-serif;
  font-size: 16px;
}

.demoStyle {
  display: flex;
  justify-content: flex-end;
}

.a {
  color: #00008f;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
}

.a:hover {
  color: black;
}

table,
th,
td {
  padding: 6px;
  font-family: sans-serif;
  border: 1px solid black;
}

.tableWrapper {
  margin: 16px;
  overflow: auto;
}

table {
  width: 100%;
}

.highlight {
  font-weight: bold;
  color: #00008f;
}

.infoSection {
  padding: 16px;
  margin: 16px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

  &:hover {
    background-color: lightgrey;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
  font-family: sans-serif;
}

code {
  padding: 2px 5px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  background-color: #f8f9fa;
  border-radius: 4px;
}
