.container {
  padding: 32px;
}

.fieldsetStyle {
  margin-top: 24px;
  padding: 16px;
  border: 1px solid black;
}

.title {
  padding-top: 16px;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  color: #00008f;
}

.tableWrapper {
  overflow: auto;
}

.dataTitle {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  color: #00008f;
}

.lineStyle {
  width: 20%;
}

.paragraph {
  padding-top: 16px;
}
