name: Build

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  HUSKY: 0

jobs:
  install:
    name: Install package
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node
        uses: pplancq/actions/setup-node@067db4800790fe6c6ec0016b02ce6a6a4cf90f39 # v1.0.0
        with:
          use-mise: true

      - name: Check package-lock.json
        run: npm run package:check

      - name: Install package
        run: npm ci --ignore-scripts

  commitlint:
    if: github.event_name == 'pull_request' && !startsWith(github.head_ref, 'copilot/')
    name: CommitLint
    needs:
      - install
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: pplancq/actions/setup-node@067db4800790fe6c6ec0016b02ce6a6a4cf90f39 # v1.0.0
        with:
          use-mise: true

      # https://commitlint.js.org/guides/ci-setup.html#github-actions
      - name: Validate PR commits with commitlint
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose --color

  lint:
    name: Lint
    needs:
      - install
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node
        uses: pplancq/actions/setup-node@067db4800790fe6c6ec0016b02ce6a6a4cf90f39 # v1.0.0
        with:
          use-mise: true

      - name: Run lint
        run: npm run lint

  test:
    name: Test
    needs:
      - install
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node
        uses: pplancq/actions/setup-node@067db4800790fe6c6ec0016b02ce6a6a4cf90f39 # v1.0.0
        with:
          use-mise: true

      - name: Run test
        run: npm run test

  build:
    name: Build
    needs:
      - install
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node
        uses: pplancq/actions/setup-node@067db4800790fe6c6ec0016b02ce6a6a4cf90f39 # v1.0.0
        with:
          use-mise: true

      - name: Run build
        run: npm run build
